name: 'main'

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-2019
    strategy:
      fail-fast: false
      matrix:
        include:
          - { sys: ucrt64, env: ucrt-x86_64 }
          - { sys: ucrt64, env: ucrt-x86_64 }
          - { sys: ucrt64, env: ucrt-x86_64 }
          - { sys: ucrt64, env: ucrt-x86_64 }
          - { sys: ucrt64, env: ucrt-x86_64 }
          - { sys: ucrt64, env: ucrt-x86_64 }
          - { sys: ucrt64, env: ucrt-x86_64 }
          - { sys: ucrt64, env: ucrt-x86_64 }
          - { sys: ucrt64, env: ucrt-x86_64 }
          - { sys: ucrt64, env: ucrt-x86_64 }
          - { sys: ucrt64, env: ucrt-x86_64 }
          - { sys: ucrt64, env: ucrt-x86_64 }
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.sys}}
          update: true
          install: >-
            mingw-w64-${{matrix.env}}-python3.11
            mingw-w64-${{matrix.env}}-ninja
            mingw-w64-${{matrix.env}}-cc
            git

      - uses: actions/checkout@v3

      - shell: msys2 {0}
        run: |
          ./test.sh
